html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

:root {
  --main-bg-color: rgb(35,31,32);
  --orange-highlight: rgb(255,80,1);
  --lightgray-color: rgb(239,239,239);
  --midgray-color: rgb(179,174,168);
  --darkgray-color: rgb(100,99,104);
  --off-black-color: rgb(35,31,32);
  --modern-red: rgb(147,36,50);
  --dark-blue: rgb(40,55,71);
}

body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  background-color: var(--lightgray-color);
}

a { 
  text-decoration: none; 
}

a:hover {
  color: var(--modern-red);
}
  
a:active {
  color: var(--modern-red);
}

#container{
  background-color: var(--lightgray-color);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin: 1em;
  border: 1px solid var(--darkgray-color);
  overflow: hidden;
}

#header{
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  height: auto;
  overflow: hidden;
  margin-bottom: 3em;
}

.header-title {
  grid-column: 1 / 2;
  position: relative;
  margin: 1em 0 0 1em;
  color: var(--dark-blue);
  font-size: 1em;
  font-weight:bold;
  letter-spacing: 6px;
  min-width: 20em;
}

.text-highlight {
  font-size: 2.2em;
}

.red-text {
  color: var(--modern-red);
}

#nav-bar{
  grid-column: 3 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 4em;
  width: 22em;
  text-align: center;
  font-size: 0.6em;
  letter-spacing: 2px;
  background-color: var(--dark-blue);
  border-radius: 5px;
  margin: 2em 2em 0em 0em;
  padding: 0 0.8em;
}

.nav-link{
  position: relative;
  text-decoration: none;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 5px;
}

.nav-link:hover{
  color: white;
  background-color: var(--modern-red);
}   

h2 {
  font-size: 3em;
  color: var(--dark-blue);
}

#intro-text {
  grid-column: 1 / 4;
  font-size: 0.8em;
  color: var(--darkgray-color);
  letter-spacing: 2px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 3em;
}

#main-img {
  grid-column: 1 / 4;
  display: block;
  position: relative;
  width: 15em;
  opacity: 0.2;
  margin: 0 auto;
}

#projects-container{
  grid-column: 1 / 4;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  border-radius: 5px;
  margin: 2em auto;
}

.projects-content{
  padding: 2.8em 0.3em 0.3em 0.3em;
  letter-spacing: 3px;
  font-size: 0.5em;
  text-align: center;
  max-width: 220px;
  align-items: center;
  border-radius: 10px;
  box-shadow: -3px 2px 15px var(--midgray-color);
  background-color: var(--lightgray-color);
  color: var(--modern-red);
  height: 8em;
  width: 17em;
}

.projects-content:hover {
  background-color: white;
}

.project-link {
  padding: 2.5em 1.5em 3em 1.5em;
}

#converter {
  grid-column: 1 / 2;
}

#calculator {
  grid-column: 2 / 3;
}

#game {
  grid-column: 3 / 4;
}

#weather {
  grid-column: 4 / 5;
}

footer{
  grid-column: 1 / 4;
  font-size: 0.6em;
  letter-spacing: 3px;
  text-align: right;
  color: var(--off-black-color);
  margin: 1em 2em 0 0;
  opacity: 0.5;
}

@media only screen and (max-width: 980px){
  .header-title {
    grid-column: 1 / 4;
    margin: 1em auto;
    text-align: center;
  }

  #nav-bar {
    grid-column: 1 / 4;
    margin: 0 auto 1em auto;
  }

  #intro-text {
    margin-top: -3em;
  }

  #projects-container {
    grid-template-columns: 1fr 1fr;
  }

  #converter {
    grid-column: 1 / 2;
  }
  
  #calculator {
    grid-column: 2 / 3;
  }
  
  #game {
    grid-column: 1 / 2;
  }
  
  #weather {
    grid-column: 2 / 3;
  }

  footer {
    text-align: center;
  }
}

@media only screen 
    and (max-width: 428px)  
    and (-webkit-device-pixel-ratio: 3) { 
      h2 {
        font-size: 2em;
      }

      #intro-text {
        font-size: 0.3em;
      }

      #main-img {
        width: 10em;
      }

      .projects-content{
        font-size: 0.3em;
        width: 20em;
        height: 8em;
      }

      #nav-bar{
        height: 3em;
        width: 32em;
        font-size: 0.3em;
        margin: 0 0 0 10em; 
      }

      .header-title {
        margin-top: 1.5em;
        font-size: 0.6em;
      }
      
      .text-highlight {
        font-size: 2em;
      }

    }